@import 'setup/vars.css';
@import 'apps/notes/notes-main.css';
@import 'apps/mail/email-main.css';

* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
  background-color: var(--clr1);
}

.app-header {
  display: flex;
  width: 100%;
  justify-content: center;
  /* margin-top: 5px; */
}

.nav-bar {
  width: 100%;
  padding: 1em 0 0 0; 
  display: flex;
  align-self: flex-end;
  justify-content: center;
  border-bottom: var(--clr8) solid 2px;
}

.main-menu-item{
  text-decoration: none;
  color: var(--clr7);
  padding: 1.5em 3.5em 1.5em 1.5em;
  font-weight: 700;
  font-variant: all-petite-caps;
}

.main-menu-item:hover{
  font-variant: small-caps;
}

.main-menu-item.active{
  color: var(--clr10);
}

.logo {
  display: none;
}

div .home-page {
  background-image: url('../img/home-page.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  height: 91vh;
  max-width: 1200px;
  margin: auto;
}

.logo-container{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container div{
  width: 30%;
}

.logo-container img{
  width: 100%;
  height: auto;
}
