<<<<<<< HEAD
@import 'apps/mail/cmps/sidebar.css';
=======

@import 'setup/vars.css';
>>>>>>> 0fa66e3cee68150506242af6e0df0ede7a6f1f02
@import 'apps/mail/main.css';
@import 'apps/mail/cmps/preview.css';
@import 'apps/mail/cmps/list.css';
@import 'apps/notes/notes.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--clr1);
}

.app-header {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 20px;
}

.nav-bar {
  width: 20%;
  padding: 20px;
  display: flex;
  /* border: red solid 2px; */
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  /* border: red solid 2px; */
}

.logo {
  width: 80px;
  height: 70px;
}
