.notes-container{
    width: 100%;
    display:flex;
    flex-direction: column;
}

.notes-container .new-note-container{
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notes-container .notes-list{
    column-count: auto;
    column-width: 300px;
    padding: 10px 0 0 0;
}
