.note{
    margin-top: 0.5em;
    break-inside: avoid;
    width: auto; 
    border-radius: 1em; 
    /* border: 2px solid var(--clr2); */
    padding: 0.5em;
    height: fit-content; 
    display: flex;
    flex-direction: column;
}

.note:first-child{
    margin-top: 0;
}

.note:last-child{
    height: auto;
}

.note:hover .note-edit-buttons-panel{
    /* Display on hover buttons panel */
    opacity: 1;
    transition: 1s;
}

.note.text{
    background-color: rgb(240,187,16)
}

.note.todo{
    background-color: rgb(212,254,144)
}

.note.image{
    background-color: rgb(228,139,131);
}

.note.video{
    background-color: rgb(210,175,251);
}

.note.image img{
    border-radius: 0.5em;
    max-width: 400px;
}

.note.video video{
    border-radius: 0.5em;
    max-width: 400px;
}


