.note{
    width: 100%; 
    border-radius: 2em;
    border: 2px solid var(--clr2);
    display:flex;
    flex-direction: column;
    justify-content:space-between;  
    /* flex-wrap: wrap; */
    align-items: center; 
    justify-items: flex-start;
    padding: 0.5em;
}

.note.text{
    background-color: rgb(240,187,16)
}

.note.todo{
    background-color: rgb(212,254,144)
}

.note.image{
    background-color: rgb(228,139,131)
}

.note.video{
    background-color: rgb(210,175,251)
}

.note.image img{
    width: 100%;
    /* align-self: flex-start;   */
}

.note.video video{
    width: 280px;
    height: 280px;
}


