.side-nav-bar {
  margin-right: 2em;
}

.menu-item {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  padding: 0 30px 0 10px;
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
}

.menu-item.active {
  background-color: var(--clr4);
}

.menu-item.active:hover {
  background-color: var(--clr4);
}

.menu-item:hover {
  background-color: var(--clr2);
}

.menu-item.new-note{
    min-width: 95px;
    height: 48px;
    margin-bottom: 20px;
    margin-top: 10px;
    /* border: .3em solid var(--clr2); */
    border-radius: 1.5em;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.menu-item.new-note:hover {
  box-shadow: rgba(60, 64, 67, 0.438) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.438) 0px 1px 9px 1px;
  background-color: rgba(60, 64, 67, 0.027);
}

.menu-item.new-note img {
  margin-right: 5px;
}

svg {
  width: 40px;
  height: 40px;
  justify-self: start;
}
