.menu-item{
    display:flex;
    align-items: center;
    border:rgb(0, 255, 34) 2px solid;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
}

/* .menu-icon{
    width: 1.5em;
    height: 1.5em;
} */

/* svg{
    width: 24px;
    height: 24px;
    viewBox: 0 0 24px 24px;
} */

