.email-preview-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin-left: 23px;
  margin-right: 18px;
  width: calc(85vw - 1px);
  /* width: 95%; */
  left: 13rem;
  box-shadow: rgb(100 121 143 / 10%) 0px -1px 0px 0px inset;
  background-color: var(--clr8);
}

.email-preview-container:hover {
  box-shadow: rgb(100 121 143 / 25%) 0px -1px 0px 0px inset;
}

.email-preview-container > * :not(.star) :not(.date) {
  display: flex;
  justify-content: flex-start;
}

.email-preview-container .star {
  color: var(--clr6);
  box-sizing: border-box;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.2em;
  margin-left: 1rem;
}

.email-preview-container .from {
  flex-basis: 12%;
  align-self: flex-start;
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1.5rem;
  padding: 10px;
  font-size: 0.875rem;
  letter-spacing: 0.04rem;
}

.email-preview-container .date {
  position: absolute;
  overflow: hidden;
  right: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  font-size: 0.875rem;
}

.read-icon,
.trash-icon {
  display: none;
}

.email-preview-container:hover .date {
  display: none;
}

.email-preview-container:hover .read-icon {
  position: absolute;
  overflow: hidden;
  right: 1rem;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.email-preview-container:hover .trash-icon {
  position: absolute;
  overflow: hidden;
  right: 2.5rem;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.email-preview-content {
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  /* max-width: 80vw; */
  max-width: calc(100vw - 35rem);
  /* justify-content: space-between; */
}

.email-preview-content .body {
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.875rem;
  color: var(--clr5);
  padding-left: 5px;
}

.email-preview-content .subject {
  min-width: max-content;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
}

.unRead {
  font-weight: bolder;
}
