.email-preview-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  left: 10rem;
  position: relative;
  width: 85%;
  /* height: 7%; */
  box-shadow: rgb(100 121 143 / 10%) 0px -1px 0px 0px inset;
  background-color: rgba(242, 245, 245, 0.8);
}

.email-preview-container:hover {
  box-shadow: rgb(100 121 143 / 25%) 0px -1px 0px 0px inset;
}

.email-preview-container > * :not(.star) :not(.date) {
  display: flex;
  justify-content: flex-start;
  /* line-height: 2rem; */
}

.email-preview-container .star {
  color: gold;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.5em;
}

.email-preview-container .from {
  flex-basis: 20%;
  align-self: flex-start;
  cursor: pointer;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  padding: 10px;
}

.email-preview-container .date {
  position: absolute;
  overflow: hidden;
  right: 1rem;
  /* width: 30%; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 10%;
  cursor: pointer;
}

.read-icon,
.trash-icon {
  display: none;
}

.email-preview-container:hover .date {
  display: none;
}

.email-preview-container:hover .read-icon {
  position: absolute;
  overflow: hidden;
  right: 1rem;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.email-preview-container:hover .read-icon:hover {
  border-radius: 50%;
}

.email-preview-container:hover .trash-icon {
  position: absolute;
  overflow: hidden;
  right: 2.5rem;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.email-preview-content {
  overflow: hidden;
  max-width: 80vw;
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: 1.5rem;
  justify-content: space-between;
}

.email-preview-content .body {
  /* align-items: center; */
  /* justify-content: center; */
  align-self: flex-end;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-basis: 60%;
}

.email-preview-content .subject {
  min-width: max-content;
  overflow: hidden;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
}

.unRead {
  font-weight: bolder;
}
