.email-sidebar-container {
  position: relative;
  height: 100%;
  width: 20%;
  margin-left: 2em;
  flex-basis: 20%;
  padding-inline-start: 0.7rem;
}

.email-sidebar-btn {
  padding: 0.3rem;
  font-size: 1rem;
  text-align: start;
}
