.email-sidebar-container {
  width: 100%;
  display: flex;
  position: absolute;
  background-color: #fff;
}

.email-sidebar-btn {
  top: 1.3rem;
  position: relative;
  padding: 0.7rem;
  right: 1.2rem;
  font-size: 0.875rem;
  text-align: start;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
}

.email-sidebar-btn:hover {
  background-color: var(--clr9);
  border-start-end-radius: 25px;
  border-end-end-radius: 25px;
  padding-right: 1.5em;
}

.email-sidebar-btn .btn {
  text-decoration: none;
  color: var(--clr7);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  right: 2rem;
  left: 3rem;
  letter-spacing: 0.04em;
}

.email-sidebar-btn > img {
  position: absolute;
  right: 1rem;
  left: 1.5rem;
  font-size: 0.875rem;
  cursor: pointer;
}

/* Compose btn */
.compose-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0.5rem;
  min-width: 95px;
  line-height: 2rem;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  border-radius: 24px;
  height: 48px;
  padding: 14px;
  text-align: center;
  white-space: nowrap;
  border: none;
  cursor: pointer;
}

.compose-btn:hover {
  box-shadow: rgba(60, 64, 67, 0.438) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.438) 0px 1px 9px 1px;
  background-color: rgba(60, 64, 67, 0.027);
}

.compose-btn img {
  width: 32px;
  height: 32px;
}

.compose-btn span {
  font-size: 0.875rem;
  padding-left: 14px;
  padding-right: 14px;
  line-height: 2rem;
  letter-spacing: 0.03em;
  color: var(--clr10);
}

.unread-count {
  position: relative;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 9rem;
  font-size: 0.875rem;
  cursor: pointer;
}
